<header class="site-header">
  <div class="container" style="position:relative;">
    <a href="/" class="logo" aria-label="Home">
      <img src="/assets/logo/KP_logo.png" alt="Logo" />
    </a>
    <nav class="nav" id="mainNav">
      <a href="/">Home</a>
      <a href="/pages/projects/">Projects</a>
      <!--<a href="/pages/skills/">Skills</a> -->
      <a href="/pages/cv/">CV</a>
      <a href="/pages/contact/">Contact</a>
    </nav>
    <button class="nav-toggle" aria-label="Toggle navigation" onclick="document.getElementById('mainNav').classList.toggle('active')">☰</button>
  </div>
</header>